<div class="row">
    <div class="listheading">
        <div class="row">
            <div class="col">
                <h2>User Stories List</h2>
            </div>
            <div class="col text-end">
                <div class="plusicon"><i class="fa-solid fa-plus"></i></div>
            </div>
        </div>
    </div>

    <form class="searchwrap storieslisting-section-ful">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search / Filter">
            <span class="input-group-text" id="basic-addon2"><img src="../assets/images/filter.png" alt="filter"
                    class="img-fluid"></span>
        </div>
    </form>
    <ng-container>
        <ul style="list-style: none;">
            <li *ngFor="let user of users;let i=index;" class="storieslisting-li" [ngClass]="{'active': selectedItem == user}" (click)="listClick($event, user)" >
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <div class="row">
                            <div class="col-md-3">
                                <img src="assets/images/book.png" alt="" class="icon-css">
                            </div>
                            <div class="col-md-6 no-padding">
                                <h4 class="storieslisting-section"class="my_class" ngClass="{'active': toggle}">{{user?.code}}</h4>
                            </div>
                            <div class="col-md-3">
                                <span class="or-icon"><img src="../assets/images/or-icon.png" alt=""
                                        class="img-fluid"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12 text-end">
                        <button type="button" class=" btn-review">{{user?.status}}</button>
                        <button type="button" class=" btn-trace" (click)="showdetails(user?.id, i)">Trace</button>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-lg-12">
                        <p class="storieslisting-para" [innerHTML]="user?.detail"></p>
                    </div>
                </div>
            </li>
        </ul>
    </ng-container>
</div>