<header>
    <div class="row">
        <div class="col-lg-3 col-sm-3">
            <div class="navarrow">
                <a href="#"><i class="fa-solid fa-arrow-left"></i></a>
                <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="pagetitle">
                <h1>User Stories</h1>
            </div>
        </div>

        <div class="col-lg-6 col-sm-6">
            <div class="projectdropdown">
                <span>Project: </span>
                <span>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Pensions & Annuity</option>
                        <option value="one">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </span>
            </div>
        </div>

        <div class="col-md-3 col-sm-3">
            <div class="rightsection">
                <ul>
                    <li>
                        <a href="#"><img src="assets/images/heart.png" alt="" class="img-fluid"></a>
                    </li>
                    <li class="notification">
                        <a href="#"><img src="assets/images/notification.png" alt="" class="img-fluid"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>