<div class="tabswrapper">
    <div class="row mt-5">
        <div class="col-md-12">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Test Cases</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Test Packs</button>
                </li>
                <li class="iconswrapper">
                    <ul>
                        <li>
                            <a href="#"><img src="../assets/images/greenplus.png" alt="" class="img-fluid"></a>
                        </li>
                        <li>
                            <a href="#"><img src="../assets/images/Upload.png" alt="" class="img-fluid"></a>
                        </li>
                        <li>
                            <a href="#"><img src="../assets/images/maximize.png" alt="" class="img-fluid"></a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
                    <div class="table-responsive custom-table-responsive">
                        <table class="table custom-table">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input">
                                        </div>
                                    </th>
                                    <th scope="col" style="width: 70px;text-align: center;">ID</th>
                                    <th scope="col" style="text-align: center;">Summary</th>
                                    <th scope="col" style="text-align: center;">Status</th>
                                    <th scope="col" style="text-align: center; padding-right: 20px;">Mode</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr scope="row" *ngFor="let data of details?.data;let i =index;">
                                    <td scope="row">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input">
                                        </div>
                                    </td>
                                    <td style="width: 70px;text-align: center;">
                                        {{data.id}}
                                    </td>
                                    <td>
                                        <p [innerHTML]="data?.summary"></p>
                                    </td>
                                    <td style="text-align: center;">
                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                               {{data?.mode}}<i class="fa-solid fa-ellipsis-vertical"></i>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Action</a></li>
                                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="text-align: center;">
                                        <a href="#" class="settingicon"><i class="fa-solid fa-gear"></i></a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
                    <div class="table-responsive custom-table-responsive">
                        <table class="table custom-table">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input">
                                        </div>
                                    </th>
                                    <th scope="col" style="width: 70px;text-align: center;">ID</th>
                                    <th scope="col" style="text-align: center;">Summary</th>
                                    <th scope="col" style="text-align: center;">Status</th>
                                    <th scope="col" style="text-align: center; padding-right: 20px;">Mode</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr scope="row" *ngFor="let data of details?.data;let i =index;">
                                    <td scope="row">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input">
                                        </div>
                                    </td>
                                    <td style="width: 70px;text-align: center;">
                                        {{data.id}}
                                    </td>
                                    <td>
                                        <p [innerHTML]="data?.summary"></p>
                                    </td>
                                    <td style="text-align: center;">
                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                               {{data?.mode}}<i class="fa-solid fa-ellipsis-vertical"></i>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Action</a></li>
                                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="text-align: center;">
                                        <a href="#" class="settingicon"><i class="fa-solid fa-gear"></i></a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>