<div class="listheading">
    <div class="row">
        <div class="col">
            <h2>Summary: {{details?.code}}</h2>
        </div>
    </div>
</div>

<div class="numbersgrids">
    <div class="row mt-3">
        <div class="col-lg-6 col-sm-12">
            <h3 class="boxgrid-title">Test Cases</h3>
            <div class="boxgrids">
                <div class="innerboxgrid">
                    <p>Total</p>
                    <h4>{{details?.testCase.total}}</h4>
                </div>
                <div class="innerboxgrid">
                    <p>Passed</p>
                    <h4>{{details?.testCase.passed}}</h4>
                </div>
                <div class="innerboxgrid">
                    <p>Failed</p>
                    <h4>{{details?.testCase?.fails}}</h4>
                </div>
                <div class="innerboxgrid">
                    <p>Not Executed</p>
                    <h4>{{details?.testCase?.fails}}</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12">
            <h3 class="boxgrid-title">Test Packs</h3>
            <div class="boxgrids">
                <div class="innerboxgrid">
                    <p>Total</p>
                    <h4>{{details?.testpack?.total}}</h4>
                </div>
                <div class="innerboxgrid">
                    <p>Passed</p>
                    <h4>{{details?.testpack?.passed}}</h4>
                </div>
                <div class="innerboxgrid">
                    <p>Failed</p>
                    <h4>{{details?.testpack?.fails}}</h4>
                </div>
                <div class="innerboxgrid">
                    <p>Not Executed</p>
                    <h4>{{details?.testCase?.fails}}</h4>
                </div>
            </div>
        </div>
    </div>
</div>