.displayCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-css {
    width: 21px;
}

.storieslisting-section {
    font-size: 17px;
    color: #3448FA;
    margin: 3px;
}

.storieslisting-para {
    font-size: 14px;
}

.btn-review {
    background-color: #ffd79b;
    border-color: #ffd79b;
    padding: 4px 10px;
    font-size: 14px;
    color: #000;
    font-weight: 500;
    width: 89px;
    border: 0;
    border-radius: 8px;
    margin-right: 3px;
}

.btn-trace {
    background-color: #ffffff;
    border-color: #000000;
    padding: 4px 10px;
    font-size: 14px;
    border-radius: 8px;
    color: #000;
    font-weight: 500;
    margin-left: 4px;
}

.mainsection-wrapper {
    background-color: #fff;
    margin: 0px 0 0 0;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    box-shadow: 0 0 24px #e8eaed;
    padding: 20px;
    height: auto;
}

.storieslisting-li {
    border-bottom: 1px solid #D0D9E9;
    margin-left: 0;
    margin-right: 0;
    margin-top: 18px;
    padding-left: 22px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 21px;
}

.listheading h2 {
    font-size: 17px;
}

.text-end {
    text-align: right !important;
}

.listheading .plusicon {
    background-color: #32b79c;
    text-align: center;
    color: #bffff8;
    width: 30px;
    height: 30px;
    line-height: 1.8;
    border-radius: 30px;
    margin-left: auto;
}

.listheading {
    border-bottom: 1px solid #D0D9E9;
    padding-bottom: 15px;
    padding-left: 21px;
}

form.searchwrap {
    margin: 22px 20px 0 20px;
}

.mb-3 {
    margin-bottom: 1rem !important;
}

form.searchwrap input {
    background: #E3E5ED;
    border: 0;
    font-size: 13px;
    height: 49px;
}

.storieslisting-section-ful {
    border-bottom: 1px solid #D0D9E9;
    padding-bottom: 28px;
}

.storieslisting-li.active {
    border-left: 3px solid #82DDBC;
    background-color: #f4f7f8;
}

.mt-5 {
    margin-top: 3rem !important;
}

.tabswrapper ul#pills-tab>li>button {
    background-color: #3D455B;
    margin-right: 13px;
    border-radius: 40px;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    min-width: 130px;
    padding: 4px 0;
    position: relative;
}

.tabswrapper ul#pills-tab>li>button.active {
    opacity: 1;
    background-color: #FD346E;
}

.tabswrapper ul#pills-tab>li>button.active:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 9px solid #FD346E;
    position: absolute;
    bottom: -9px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.tabswrapper table th {
    background-color: #eef1f8;
}

a.settingicon {
    color: #535353;
    margin-top: 20px;
    display: block;
}

span.tablestatus {
    border: 1px solid #717171;
    padding: 7px 20px;
    display: inline-block;
    margin-top: 18px;
    border-radius: 11px;
    font-size: 13px;
}

.tabswrapper td .dropdown button:after {
    display: none;
}

.tabswrapper td .dropdown>button>i {
    margin-left: 20px;
}

.tabswrapper td .dropdown>button {
    background: #fff;
    color: #000;
    margin-top: 16px;
}

.tabswrapper td .dropdown>button:focus {
    outline: none;
    box-shadow: none;
}

.innerboxgrid {
    padding: 0;
    width: 100%;
    text-align: center;
    border-right: 1px solid #92A5C7;
}

.innerboxgrid:last-child {
    border: 0;
}

.innerboxgrid:last-child h4 {
    color: #fb366c;
}

.innerboxgrid h4 {
    color: #62af9b;
    font-size: 34px;
}

h3.boxgrid-title {
    font-size: 16px;
    margin-left: 10px;
}

section.mainsection-wrapper .col-lg-9 {
    padding: 0 31px;
}

.alert-wrapper .alert.alert-danger {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
}

span.alerticon {
    border: 1px solid #842029;
    width: 22px;
    display: inherit;
    text-align: center;
    height: 22px;
    border-radius: 50%;
    line-height: 1.5;
    font-size: 12px;
    margin-right: 5px;
}

.boxgrids {
    display: flex;
    padding: 20px 0px;
    border: 1px solid #92A5C7;
    border-radius: 8px;
    justify-content: space-around;
    box-shadow: 0 0 24px #e8eaed;
}

.divider-right {
    border-right: 1px solid #D0D9E9;
    padding-right: 40px !important;
    height: 85vh;
    overflow: scroll;
}

.divider-left {
    border-left: 1px solid #D0D9E9;
    padding-left: 40px !important;
    height: 85vh;
    overflow: scroll;
}


/* Hide scrollbar for Chrome, Safari and Opera */

.divider-left::-webkit-scrollbar {
    display: none;
}

.divider-right::-webkit-scrollbar {
    display: none;
}

li.iconswrapper {
    /* position: absolute;
    right: 46px; */
}

li.iconswrapper ul {
    display: flex;
    list-style: none;
}

li.iconswrapper ul>li {
    margin: 0 10px;
}

.sidebar ul.nav>li>a>img {
    width: 20px;
}

.alert.alert-warning>span {
    display: inline-block;
}

.alert.alert-warning {
    display: inline-block;
    border: 1px solid #FCCF8D;
    color: #3D455B;
    font-weight: 600;
}

.navarrow,
.pagetitle {
    display: inline-block;
    vertical-align: middle;
    margin-right: 13px;
}

.navarrow>a {
    background-color: #d9dceb;
    width: 32px;
    height: 32px;
    display: inherit;
    border-radius: 50%;
    text-align: center;
    line-height: 2.4;
    color: #3e445a;
    font-size: 13px;
    margin-left: 3px;
}

.pagetitle>h1 {
    font-size: 21px;
    margin-top: 7px;
    color: #2c2c36;
}

.rightsection>ul {
    display: flex;
    list-style: none;
    justify-content: end;
}

.rightsection>ul>li>a>img {
    margin-left: 20px;
    margin-top: 9px;
}

.projectdropdown {
    display: flex;
    align-items: baseline;
}

.projectdropdown>span {
    margin-right: 10px;
    color: #9c9da2;
    font-weight: 500;
}

.projectdropdown>span>select {
    border: 0;
    background-image: url("assets/images/selectdropdown.png");
    background-color: transparent;
    padding: 0;
    color: #fb3573;
    font-weight: 500;
    outline: none;
    background-size: 12px;
    background-position: center right;
}

.projectdropdown>span+span {
    width: 162px;
}

.projectdropdown {
    display: flex;
    align-items: baseline;
    margin-top: 10px;
}

span.bubbles {
    background-color: #fd346e;
    color: #fff;
    display: block;
    text-align: center;
    width: 25px;
    height: 25px;
    border-radius: 30px;
    line-height: 1.8;
    position: absolute;
    right: -20px;
    top: 0;
    font-size: 13px;
    font-weight: 500;
}

.no-padding {
    padding: 0px !important;
}

@media only screen and (max-width: 1600px) {
    .mainsection-wrapper {
        height: auto;
    }
    .storieslisting-section {
        max-height: 394px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    app-main-containt {
        width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        max-height: 554px;
        display: block;
    }
    .innerboxgrid>p {
        font-size: 13px;
    }
    .innerboxgrid h4 {
        font-size: 28px;
    }
}

@media only screen and (max-width: 1200px) {
    .storieslisting-section .col-lg-6.col-sm-12.text-end>button {
        padding-left: 5px;
        padding-right: 5px;
    }
    .mainsection-wrapper {
        margin-top: 90px;
    }
    .listheading h2 {
        font-size: 16px;
    }
}

@media only screen and (max-width: 1080px) {
    .mainsection-wrapper {
        margin-top: 90px !important;
    }
    .storieslisting-section .col-lg-6.col-sm-12.text-end {
        display: contents;
    }
    .listheading>.row>.col {
        max-width: max-content !important;
    }
}

@media only screen and (max-width: 991px) {
    .storieslisting-section .col-lg-6.col-sm-12.text-end {
        display: flex;
    }
    .storieslisting-section .col-lg-6.col-sm-12.text-end>button {
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 0;
        margin-top: 7px;
        margin-right: 8px;
    }
    .col-lg-8.col-sm-12 .listheading {
        padding: 22px 21px 15px;
    }
    .numbersgrids {
        margin: 0 18px;
    }
    .alert-wrapper .alert.alert-danger {
        margin-left: 20px;
        margin-right: 20px;
    }
    .tabswrapper {
        margin: 0 20px;
    }
}

@media only screen and (max-width: 767px) {
    header>.row>.col-lg-3 {
        flex: 0 0 100%;
    }
    section.mainsection-wrapper {
        margin-top: 100px !important;
    }
    header>.row>.col-lg-6 {
        width: 72%;
    }
    header .row {
        position: relative;
    }
    header .col-md-3.col-sm-3>.rightsection {
        position: absolute;
        top: 0;
        right: 18px;
    }
}

@media only screen and (max-width: 568px) {
    .mainsection-wrapper {
        height: auto;
    }
    app-side-nav {
        background-color: #3e445a;
    }
    table.table.custom-table {
        width: 750px;
    }
    .sidebar {
        width: 56px;
    }
    .storieslisting-li {
        text-align: center;
    }
    .divider-left {
        padding-left: 0px !important;
    }
    .alert.alert-warning {
        margin-left: 14px;
    }
    .nav-pills {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .iconswrapper {
        display: none;
    }
}