<app-header></app-header>

<div class="mainsection-wrapper">
    <div class="row">
        <div class="col-md-4 divider-right">
            <app-card-tabs [users]="users" (emitData)="emittedDataByChild($event)"></app-card-tabs>
        </div>
        <div class="col-md-8 divider-left">
            <app-card-status [details]="details"></app-card-status>

            <div class="alert-wrapper">
                <div class="row mt-4">
                    <div class="col-md-12">
                        <div class="alert alert-warning" role="alert">
                            <span class="alerticon"><i class="fa-solid fa-exclamation"></i></span> Test Cases are not modified since user story edit on 20th May 2022
                        </div>
                    </div>
                </div>
            </div>

            <app-table [details]="details"></app-table>
        </div>
    </div>
</div>