.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #3e445a;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

.nav-btn {
    background: none !important;
    border: none !important;
}

.li-height {
    height: 60px;
}

hr {
    color: white;
    margin: 0px;
}

.img-fluid {
    padding: 14px;
}

.nav-btn:hover {
    background-color: #fd346e;
}