<div id="mySidebar" class="sidebar" #mySidebar>
    <ul style="list-style: none;" class="ps-0">
        <li class="displayCenter">
            <button class="nav-btn"><img src="assets/images/logo.png" alt="icon" class="img-fluid"></button>
        </li>
        <hr>
        <li class="li-height displayCenter">
            <button class="nav-btn" href="javascript:void(0)" (click)="openFullNav()">
                <img src="assets/images/menu.png" alt="icon" class="img-padding"></button>
        </li>
        <li class="li-height displayCenter">
            <button class="nav-btn"><img src="assets/images/search.png" class="img-padding" alt="icon"></button>
        </li>
        <li class="li-height displayCenter">
            <button class="nav-btn btn-danger" [routerLink]="['user-stories']"><img src="assets/images/Activity.png" alt="icon" class="img-fluid"></button>
        </li>
        <li class="li-height displayCenter">
            <button class="nav-btn"><img src="assets/images/icon2.png" alt="icon" class="img-fluid"></button>
        </li>
        <li class="li-height displayCenter">
            <button class="nav-btn"><img src="assets/images/icon3.png" alt="icon" class="img-fluid"></button>
        </li>
        <li class="li-height displayCenter">
            <button class="nav-btn"><img src="assets/images/icon4.png" alt="icon" class="img-fluid"></button>
        </li>
        <li class="li-height displayCenter">
            <button class="nav-btn"><img src="assets/images/icon5.png" alt="icon" class="img-fluid"></button>
        </li>
        <li class="li-height displayCenter">
            <button class="nav-btn"><img src="assets/images/icon6.png" alt="icon" class="img-fluid"></button>
        </li>
        <li class="li-height displayCenter">
            <button class="nav-btn"><img src="assets/images/icon7.png" alt="icon" class="img-fluid"></button>
        </li>
        <li class="profilesidemenu displayCenter">
            <button class=" nav-btn "><img src="assets/images/avatar.png " alt="profile " class="img-fluid "></button>
        </li>
    </ul>
</div>

<div id="main " #main>
    <router-outlet></router-outlet>
</div>